@model IEnumerable<EmployeeEntity.Employee>

@{
    ViewBag.Title = "Index";
}


@Html.ActionLink("Create New Employee", "Create")<br />

@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
}
<h2>Employee</h2>
<table border="1">
    <tr>
        <td>Employee Name</td>
        <td>Employee PhoneNumber</td>
        <td>Choice</td>
    </tr>
    @foreach (EmployeeEntity.Employee item in @Model)
    {
        <tr>
            <td>
                @item.EmployeeName
            </td>
            <td>
                @item.EmployeePhoneNumber
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId })
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td>
        </tr>
    }
</table>

